.websites {
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
}

.sites {
    padding-bottom: 60px;
    display: flex;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.sites-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.sites-btn-1 {
    width: 185px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-2 {
    width: 160px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-3 {
    width: 195px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-4 {
    width: 97px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-5 {
    width: 153px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-6 {
    width: 144px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-1:hover,
.sites-btn-2:hover,
.sites-btn-3:hover,
.sites-btn-4:hover,
.sites-btn-5:hover,
.sites-btn-6:hover {
    background-color: white;
    color: #222222;
    border: 1px solid black;
}

.lang-btn {
    display: flex;
    gap: 10px;
}

.lang-btn-1 {
    width: 135px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-2 {
    width: 96px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-3 {
    width: 102px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-4 {
    width: 98px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-5 {
    width: 105px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-1:hover,
.lang-btn-2,
.lang-btn-3,
.lang-btn-4,
.lang-btn-5 {
    background-color: white;
    color: #222222;
    border: 1px solid black;
}

@media screen and (max-width: 767px) {
    .sites-btn {
        gap: 4px !important;
    }
}