@import url('https://fonts.cdnfonts.com/css/apercu');

* {
    margin: 0;
    font-family: 'Apercu', sans-serif;
}

/* 
.wrapper{
    background-color: #F8F8F8;
} */

.header-main {
    margin-top: 12px;
    display: flex;
    width: 100%;
    padding: 0px 52px;
    width: 1479;
    height: 71;
}

.header-text {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bolder;
}

.header-input-part {
    font-size: 14px;
    height: 48px;
    width: 953px;
    background-color: #E9E9E9;
    border: none;
    border-radius: 8px;
    margin-left: 14px;
}

.searchicon {
    position: absolute;
    top: 25px;
    left: 120px;
    height: 20px;
    width: 20px;
    font-size: large;
    color: #A7A7A7;
}

.header-input {
    font-size: 14px;
    height: 48px;
    width: 710px;
    background-color: #E9E9E9;
    border: none;
    border-radius: 7px;
    margin-left: 15px;
}

.input-text {
    font-family: "apercu", sans-serif;
    position: absolute;
    top: 25px;
    right: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    width: 200px;
    padding: 0px 30px 0px 0px;
}

::placeholder {
    font-size: 14px;
    color: #A7A7A7;
    padding: 45px;
}

.input-select {
    font-size: 14px;
    font-weight: 200;
    font-weight: bold;
    border: none;
    background-color: #E9E9E9;
    width: 150px;
}

.user-part {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    margin: 0px 12px;
    font-size: 14px;
}

.user-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 117px;
    height: 48px;
}

.login,
.signup {
    font-family: 'Apercu', sans-serif;
    font-size: large;
    font-weight: bold;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 265px;
    height: 48px;
    font-size: small;
}

.btn-dark {
    width: 95px;
    height: 48px;
}

.btn-outline-dark {
    width: 159px;
    height: 48px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    padding: 0px 52px;
    margin: 0px 0px 46px;
    margin-top: 42px;
}

.copyicon,
.shareicon {
    height: 23px;
    width: 23px;
    margin: 15px;
}

.header {
    text-align: center;
}

.header-h6 {
    font-weight: 400;
}

.header-h1 {
    font-size: 75px;
    font-weight: bold;
    margin-top: 40px;
}

.header-h4 {
    font-weight: bold;
}

.middle{
    width: 1415px;
    height: 166px;
    margin: 0px 0px 43px;
}

.info{
    font-size: 40px;
}