@import url('https://fonts.cdnfonts.com/css/apercu');

* {
    margin: 0;
    box-sizing: border-box;
}

.header-main {
    margin-top: 12px;
    display: flex;
    width: 100%;
    height: 71px;
}

@media screen and (max-width: 767px) {
    .header-main {
        width: 719px;
        height: 71px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .header-main {
        width: 943px;
        height: 71px;
    }
}

.header-text {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bolder;
}

.header-input-part {
    font-size: 14px;
    height: 48px;
    width: 1014px;
    background-color: #E9E9E9;
    border: none;
    border-radius: 8px;
    margin-left: 14px;
}

/* .header-input-part:focus{
    color: #fff;
    background-color: #383838;
    outline: 0;
  } */

.searchicon {
    position: absolute;
    top: 25px;
    left: 120px;
    height: 20px;
    width: 20px;
    font-size: large;
    color: #A7A7A7;
}

.header-input {
    font-size: 14px;
    height: 48px;
    width: 630px;
    background-color: #E9E9E9;
    border: none;
    border-radius: 7px;
    margin-left: 40px;
}

input:focus {
    color: #fff;
    background-color: #383838;
    outline: 0;
}

.input-text {
    font-family: "apercu", sans-serif;
    position: absolute;
    top: 25px;
    right: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    width: 200px;
    padding: 0px 30px 0px 0px;
}

::placeholder {
    font-size: 14px;
    color: #A7A7A7;
    padding: 45px;
}

.input-select {
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: #E9E9E9;
    width: 150px;
}

.user-part {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    margin: 0px 12px;
    font-size: 14px;
}

.user-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 117px;
    height: 48px;
}

.login,
.signup {
    font-family: 'Apercu', sans-serif;
    font-size: large;
    font-weight: bold;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 265px;
    height: 48px;
    font-size: small;
}

.btn-dark {
    width: 95px;
    height: 48px;
}

.btn-outline-dark {
    width: 159px;
    height: 48px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 46px;
    margin-top: 42px;
}

.copyicon,
.shareicon {
    height: 23px;
    width: 23px;
    margin: 15px;
}

.header {
    text-align: center;
}

.header-h6 {
    font-weight: 400;
}

.header-h1 {
    font-size: 75px;
    font-weight: bold;
    margin-top: 40px;
}

.header-bottom-part {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    width: 132px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
}

.header-a {
    font-size: 23px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a {
    background:
        linear-gradient(to right,
            #B7B7B7,
            #B7B7B7),
        linear-gradient(to right,
            rgb(0, 0, 0),
            rgb(0, 0, 0),
            rgb(0, 0, 0));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
    color: black;
}

.footer-a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

sup {
    width: auto;
    height: auto;
    font-size: 8px;
    margin: 0px 0px 0px 1.6px;
}

.header-img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.middle {
    width: 100%;
    height: 170px;
    padding: 40px 52px;
    text-align: center;
}

.info {
    font-weight: 100;
    font-size: 40px;
}

.websites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    padding: 0px 52px;
    font-size: 21px;
    font-weight: 300px;
    margin: 150px 0px;
}

.sites {
    padding: 0px 24px;
    width: 1100px;
    height: 110px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sites-btn {
    display: flex;
    gap: 10px;
}

.sites-btn-1 {
    width: 185px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-2 {
    width: 160px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-3 {
    width: 195px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-4 {
    width: 97px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-5 {
    width: 153px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-6 {
    width: 144px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.sites-btn-1:hover,
.sites-btn-2:hover,
.sites-btn-3:hover,
.sites-btn-4:hover,
.sites-btn-5:hover,
.sites-btn-6:hover {
    background-color: white;
    color: #222222;
    border: 1px solid black;
}

.lang-btn {
    display: flex;
    gap: 10px;
}

.lang-btn-1 {
    width: 135px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-2 {
    width: 96px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-3 {
    width: 102px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-4 {
    width: 98px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-5 {
    width: 105px;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #b7b7b7;
    color: #222222;
}

.lang-btn-1:hover,
.lang-btn-2,
.lang-btn-3,
.lang-btn-4,
.lang-btn-5 {
    background-color: white;
    color: #222222;
    border: 1px solid black;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 64px;
}

.footer-text {
    font-size: 22px;
    font-weight: bolder;
}

.footer-part {
    width: 1100px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer-part {
        width: 1023px;
        height: 253px;
    }
}

.footer-block {
    width: 196px;
    height: 88px;
}

.next-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 410px;
    height: 88px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

.footer {
    margin-top: 100px;
}

.footer-hr {
    border-top: 2px dashed #8D8D8D;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 120px;
    padding: 48px 0px 0px;
}

.footer-bottom-part-1 {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 32px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.footer-bottom-part-2 {
    display: flex;
    justify-content: space-around;
    width: 587px;
    height: 32px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.table .table-parts:last-of-type {
    opacity: 0.2;
}

.table-top {
    display: flex;
    justify-content: space-between;
}

.table-top-1 {
    width: 313px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.table-top-2 {
    width: 550px;
    height: 71px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.table-hr {
    border-top: 2px dashed #8D8D8D;
    margin: 0px;
}

.table-img {
    width: 72px;
    height: 72px;
    border-radius: 50px;
}

.table-parts {
    display: flex;
    justify-content: space-between;
}

.table-part1 {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 104px;
    padding: 16px 20px;
}

.part1 {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 104px;
}

.part1>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 104px;
    font-weight: lighter;
    font-size: 18px;
}