.footer {
    padding: var(--pad-52);
}

.footer-link {
    font-size: var(--font-16);
    font-weight: bold;
    color: var(--color-black);
    text-decoration: none;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 64px;
}

.footer-text {
    font-size: 22px;
    font-weight: bolder;
}

.footer-part {
    width: var(--width-100);
    height: 100%;
    display: flex;
    font-size: var(--font-16);
    font-weight: bold;
    cursor: pointer;
}

.footer-part-1 {
    display: flex;
    width: var(--width-100);
}

.footer-part-2 {
    width: var(--width-100);
    display: flex;
}

.footer-block {
    width: var(--width-100);
    height: 88px;
    padding: 10px;
}

.footer-block-hidden {
    width: auto;
    height: 88px;
    padding: 10px;
}

.next-part {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 10px;
    width: var(--width-100);
    height: 88px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-weight: 300;
    flex-wrap: wrap;
}

strong {
    font-weight: 500;
}

.footer {
    margin-top: 100px;
}

.footer-hr {
    border-top: 2px dashed #8D8D8D;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 120px;
    padding: 48px 0px 0px;
}

.footer-bottom-part-1 {
    display: flex;
    flex-wrap: wrap;
    width: var(--width-100);
    height: 100%;
    gap: var(--pad-24);
    font-size: var(--font-14);
    font-weight: 300;
    cursor: pointer;
}

.footer-bottom-part-2 {
    display: flex;
    justify-content: inherit;
    width: var(--width-100);
    flex-wrap: wrap;
    height: 100%;
    gap: var(--pad-24);
    font-size: var(--font-14);
    font-weight: 300;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {

    .footer-block-hidden {
        display: none;
    }

    .footer-block {
        width: var(--width-100);
    }

    .footer {
        padding: var(--pad-24);
    }

    .footer-info {
        flex-direction: column;
    }

    .next-part {
        margin-top: 50px;
        height: auto;
    }

    .footer-part {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .footer-bottom {
        flex-direction: column;
    }

    .footer-block-hidden {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        padding: var(--pad-16);
    }
}