.table {
    padding: var(--pad-52);
}

.table-parts-last {
    opacity: 0.2;
    display: flex;
    justify-content: space-between;
}

.table-top {
    display: flex;
    justify-content: space-between;
}

.table-top-1 {
    width: var(--width-100);
    height: 100%;
    display: flex;
    gap: 30px;
    justify-content: initial;
    align-items: center;
    font-size: var(--font-16);
}

.table-top-2 {
    width: var(--width-100);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: var(--font-16);
}

.table-hr {
    border-top: 2px dashed #8D8D8D;
    margin: 0px;
}

.table-img {
    width: 72px;
    height: 72px;
    border-radius: 50px;
}

.table-parts {
    display: flex;
    justify-content: space-between;
}

.table-parts-color {
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
}

.table-part1 {
    display: flex;
    width: var(--width-100);
    height: 100%;
    gap: 20px;
    padding: 16px 20px;
}

.flex-div {
    display: flex;
}

.part1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100%;
}

.part1>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--width-100);
    height: 104px;
    font-weight: lighter;
    font-size: var(--font-18);
}

.part1-div {
    background-color: var(--light-color);
    font-weight: bold;
    width: 100px;
    padding: 40px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #cdcdcd;
    width: 67px;
    height: 48px;
    border-radius: 50px;
    position: relative;
    top: -80px;
    left: 50%;
}

.add-btn:active,
.add-btn:hover {
    background-color: #f8f8f8;
    color: var(--color-black);
}

.hidden-table {
    width: var(--width-100);
    height: auto;
}

.table-hidden-parts {
    display: flex;
    justify-content: space-between;
    width: var(--width-100);
    height: 104px;
}

.table-hidden-parts-color {
    display: flex;
    justify-content: space-between;
    width: var(--width-100);
    height: 104px;
    background-color: #F3F3F3;
}

.table-hidden-part1 {
    display: flex;
    width: var(--width-100);
    height: 100%;
    gap: 20px;
    padding: 16px 20px;
}

.table-hidden-img {
    width: 72px;
    height: 72px;
    border-radius: 50px;
    padding: 8px;
}

.hidden-part1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100%;

}

.hidden-part1>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--width-100);
    height: 104px;
    font-weight: lighter;
    font-size: var(--font-18);
}

.hidden-part1-div {
    font-weight: bold;
    background-color: var(--light-color) !important;
    width: 100px;
    padding: 40px !important;
}


@media screen and (max-width: 1023px) {
    .table-top-2 {
        display: none;
    }

    .table-top-1 {
        display: flex;
        justify-content: space-between;
    }

    .part1 {
        display: none;
    }

    .part1-div,
    .hidden-part1-div {
        display: block !important;
        width: 60px;
        padding: 16px !important;
    }

    .hidden-part1 {
        display: none !important;
    }

    .table {
        padding: var(--pad-24);
    }
}

@media screen and (max-width: 576px) {
    .table {
        padding: var(--pad-16);
    }
}

@media screen and (max-width: 395px) {

    .table-part1,
    .table-hidden-part1 {
        overflow: scroll;
        width: 270px;
    }
}